name: Lint and Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Lint Golang
        run: ./scripts/lint.sh

      - name: Check License
        run: |
          go install github.com/google/addlicense@v1.0.0
          addlicense -f ./LICENSE.header -check -v ./**/*.go ./**/**/*.go

  unit_test:
    name: Unit Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-14]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Install Go dependencies
        run: go mod download

      - name: Run Unit Tests
        run: ./scripts/unit.sh
